[project]
name = "ai-images-classifier"
version = "0.1.0"
description = "AI Images Classifier with PyTorch Lightning and Hydra"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "pre-commit>=4.5.1",
    "ruff>=0.14.11",
]
